doctype html
html(lang="en")
    head
        title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            h1 Add a New Pet
            a(href="/") Return to the homepage
            form(method="POST")
                label(for="name") Pet Name
                input(type="text" name="name" required)
                label(for="species") Species
                input(type="text" name="species" required)
                label(for="bio") Bio
                textarea(name="bio" required)
                input(type="submit" value="Submit")